@import url(./__image/place-card__image.css);
@import url(./__delete-icon/place-card__delete-icon.css);
@import url(./__description/place-card__description.css);
@import url(./__name/place-card__name.css);
@import url(./__like-icon/place-card__like-icon.css);
@import url(./__likes/place-card__likes.css);
@import url(./__likes-numb/place-card__likes-numb.css);
@import url(./__spinner/place-card__spinner.css);
@import url(./__spinner/_visible/place-card__spinner_visible.css);

.place-card {
  width: 282px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 360px;
}
